@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#over {
  position: absolute;
  width: 200px;
  top: 0px;
  right: 0px;
  z-index: 100;
}

.hidden {
  visibility: hidden;
}

.shown {
  visibility: visible;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sitch-image-gallery {
  min-height: 100%;
}

footer {
  /* min-height: 80px; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50 vw;
  font-size: 11px;
  padding: 2px 5px;
  background: rgba(255, 255, 255, 0.7);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(51, 51, 51);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
